*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    touch-action: none;
}


*,*:focus,*:hover{
    outline:none;
}

@font-face {
    font-family: MikadoBlack;
    src: url(../assets/Font/MikadoBlack.otf);
  }

html,body{
    overflow: hidden;
}

.webgl{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}


/*#region controls */
/*
.ctrls{
    width: 34vw;
    min-width: 180px;
    height: 17vw;
    min-height: 90px;
    border:1px solid rgb(255, 0, 0);
    display: flex;
    flex-direction: row;    
    align-items: center;
    justify-content: space-evenly;
}

.--turns{
    position: absolute; 
    left: 5%;  
    bottom: 12vh;  
}

.--forwards{
    position: absolute;   
    bottom: 12vh; 
    right: 5%; 
}*/

.--f-row{
    display: flex;
    flex-direction: row;
}
.--f-col{
    display: flex;
    flex-direction: column;
}


.--flexRowCent{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.--flexColCent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.ctrls__buttonBox{ 
    position: relative;    
    width: 32%;
    height: 65%;             
    background-color: blueviolet;    
}
.ctrls__cnt-Button{
    padding: 0;
    border: none;
    width: 100%;
    height: 100%;      
    background-repeat: no-repeat;    
}
.ctrls__buttonBox__cntButton{
    padding: 0;
    border: none;
    width: 100%;
    height: 100%;      
    background-repeat: no-repeat;    
}



.--upImg{
    background: url("../assets/UI/upAB.fw.png"); 
    background-repeat: no-repeat;
    background-size: 100%;    
}
.--upImgTouched{
    background: url("../assets/UI/ubLit.png");
    background-repeat: no-repeat;
    background-size: 100%; 
}
.--upImg:active{
    background: url("../assets/UI/ubLit.png");
    background-repeat: no-repeat;
    background-size: 100%; 
}

.--downImg{    
    background: url("../assets/UI/downAB.fw.png");
    background-repeat: no-repeat;
    background-size: 100%;     
}

.--downImgTouched{
    background: url("../assets/UI/dbLit.png");
    background-repeat: no-repeat;
    background-size: 100%; 
}
.--downImg:active{
    background: url("../assets/UI/dbLit.png");
    background-repeat: no-repeat;
    background-size: 100%; 
}


.--leftImg{
    background: url("../assets/UI/lTBimgW.png");
    background-repeat: no-repeat;
    background-size: 100%; 
}
.--leftImgTouched{
    background: url("../assets/UI/lbLit.png");
    background-repeat: no-repeat;
    background-size: 100%; 
}
.--leftImg:active{
    background: url("../assets/UI/lbLit.png");
    background-repeat: no-repeat;
    background-size: 100%; 
}

.--rightImg{
    background: url("../assets/UI/rTBimgW.png");
    background-repeat: no-repeat;
    background-size: 100%; 
}
.--rightImgTouched{
    background: url("../assets/UI/rbLit.png");
    background-repeat: no-repeat;
    background-size: 100%;     
}
.--rightImg:active{
    background: url("../assets/UI/rbLit.png");
    background-repeat: no-repeat;
    background-size: 100%;     
}




/* new, keep */
.ctl-lr{
    width: calc(17vw + 12vh);
   /* min-width: 180px;*/
    height: calc(17vw + 12vh);
    /*min-height: 180px;*/
    
    display: flex;
    flex-direction: row;     
    position: absolute;     
    bottom: calc(1vw + 2vh); 
    left: calc(1vw + 2vh);
}

.ctrls2__inner{
    width: 50%;
    height: 100%;    
    display: flex;
    align-items: flex-start;   
}
.ctrls2__inner2{
    width: 50%;
    height: 100%;    
    display: flex;
    align-items: flex-end;
}

.ctrls2__btn-box{
    width: 100%;
    height: 50%;    
    display: flex;
    align-items: center;
    justify-content: center;
}

.ctrls2__btn{
    width: 80%;
    height: 80%;
    background-color: rgb(115, 255, 0);
}



.ctl-fb{
    width: calc(17vw + 12vh);
   /* min-width: 180px;*/
    height: calc(17vw + 12vh);
    /*min-height: 180px;*/
    
    display: flex;
    flex-direction: column;     
    position: absolute;     
    bottom: calc(1vw + 2vh); 
    right: calc(1vw + 2vh);
}

.ctrls3__inner-section{
    width: 100%;
    height: 50%;
    
    display: flex;
    align-items: center;
    justify-content: center;    
}

.ctrls3__btn-boxf{
    width: 50%;
    height: 100%;    
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.ctrls3__btn-boxb{
    margin-top: 7%;
    width: 30%;
    height: 60%;    
    display: flex;
    align-items: center;
    justify-content: center;    
}
/* new, keep */




/*
.lButton{
    position: absolute; 
    width: calc(8vw + 6vh); 
    height: calc(8vw + 6vh); 
    bottom: calc(9vw + 9vh); 
    left: calc(1vw + 2vh);    
}


.rButton{
    position: absolute;  
    width: calc(8vw + 6vh); 
    height: calc(8vw + 6vh); 
    bottom: calc(1vw + 2vh); 
    left: calc(9vw + 9vh);   
}


.fButton{
    position: absolute; 
    width: calc(8vw + 6vh); 
    height: calc(8vw + 6vh); 
    bottom: calc(4vw + 4vh); 
    right: calc(9vw + 9vh);    
}


.bButton{
    position: absolute;  
    width: calc(4vw + 3vh); 
    height: calc(4vw + 3vh); 
    bottom: calc(4vw + 4vh); 
    right: calc(1vw + 2vh);  
}*/









/*#endregion controls */





.reloadButton{
    padding: 0;
    border: none;
    position: absolute;
    top: 1vw;
    left: 15vw;
    width: 5vw;
    min-width: 40px;
    height: 5vw; 
    min-height: 40px;     
}

.--resetImg{
    background: url("../assets/UI/reload4.png");
    background-repeat: no-repeat;
    background-size: 100%; 
}


.menu{
    position: absolute;
    top: 1vw;
    right: 5vw;         
    /*background-color: mediumturquoise;*/
}


.menu__gear-box{
    width: 100%;
    display: flex;
    justify-content: end;
    /*border:1px solid rgb(255, 0, 0);*/
}


.menu__gear{
    position: relative;    
    padding: 0;
    border: none;
    width: 8vw;
    min-width: 40px;
    height: 8vw; 
    min-height: 40px;   
    z-index: 1;    
}




.--gearImg{
    background: url("../assets/UI/gear3.png");
    background-repeat: no-repeat;
    background-size: 100%; 
}

.menu__assembly{
    margin-top: .5vw;
    /*position: relative;*/    
    width: 28vw; /*14*/ 
    height: 50vw;  /*25*/
    /*top: -220px;*/
  /* background-color: lightcoral;*/       
}


.menu__main{
    position: relative;
    width: 100%;
    height: 100%;
    top: calc(-80vw);    
    /*background-color: black;*/
    background-color: rgba(0,0,0,0.6);
    border: 1px solid black;
    /*opacity: 60%;*/
    border-radius: 2%;   
    flex-wrap: wrap;
    justify-content: space-evenly; 
    /*border:1px solid rgb(255, 0, 0);*/
}

.--flexColAlign{
    display: flex;
    flex-direction: column;    
    align-items: center;
}
.--flexRowAlign{
    display: flex;
    flex-direction: row;    
    align-items: center;
}



.--elementMask {
   clip-path: inset(0 0 0 0);
    /* Also can take single values to make all sides the same, or 2 values (vert/horz), or 3 values (top/horz/bottom). */
}

/*.MBBox{ */
.menu__button-box{   
    width: 82%;     
    height: 16%;
    border:1px solid rgb(54, 54, 54);
    background-color: #666666;
    border-radius: 3%;       
}



.menu__button-bar{  
    margin-top: 5%;
    width: 94%;
    height: 40%;    
    /*background-color: white;
    border-radius: 5%;*/
    justify-content: space-between;    
}

.MBDispBox{     
    width: 60%;
    height: 110%;    
    background-color: rgb(168, 168, 168);
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.chevronCommon{    
    width: 26%;
    height: 160%;
    /*border:1px solid rgb(255, 0, 0);*/
}

.lChevButton{
    margin: 0;
    padding: 0;
    border: none;
    width: 100%;
    height: 100%;
    background: url("../assets/UI/lChev.png");
    background-repeat: no-repeat;
    background-size: 100%;  
}



.rChevButton{
    margin: 0;
    padding: 0;
    border: none;
    width: 100%;
    height: 100%;
    background: url("../assets/UI/rChev.png");
    background-repeat: no-repeat;
    background-size: 100%; 

    /*
    background-color: lightslategray;
    border:1px solid black;
    border-radius: 5%;*/
}


.--dispMenuFont{
    font-family: MikadoBlack;   
    /*font-size: 3.2vw;*/
    font-size: calc(7vw *.5);   
    /*font-size: 28px;*/
    /*font-size:calc(12px + 1.5vw);*/
    color: white;
}

.--smallMenuFont{
    font-family: MikadoBlack;  
    /*font-size: 2vw;*/
    font-size: calc(4.375vw *.5);
    /*font-size: 18px;*/
    color: white;
}



.MBLabelBox{  
    margin-top: 5%;  
    width: 94%;
    height: 30%; 
    display: flex;
    justify-content: center;
    align-items: center;
    /*border:1px solid rgb(255, 0, 0);*/
}









/*   volume slider  */
.slidecontainer {
    margin-top: 2%;
    width: 86%;     
    height: 66%;
    /*background-color: rebeccapurple;*/
    display: flex;
    flex-direction: column;    
    align-items: center;      
    /*border:1px solid red;*/
}



.vSlider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 100%;
    background: url("../assets/UI/sldBar.png");
    background-repeat: no-repeat;
    background-size: 100%; 
    outline: none; /* Remove outline */
    /*opacity: 0.7;*/ /* Set transparency (for mouse-over effects on hover) */
    /*-webkit-transition: .2s;*/ /* 0.2 seconds transition on hover */
    /*transition: opacity .2s;*/
    /*border:1px solid red;*/
}

.vSlider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 4vw; /* 19  Set a specific slider handle width */
    /*height: 2.3vw;*/ 
    height: 4vw;
    background: url("../assets/UI/skl2.png");
    background-repeat: no-repeat;
    background-size: 100%; 
    cursor: pointer; /* Cursor on hover */
    /*border:1px solid rgb(146, 0, 0);*/
}
  
.vSlider::-moz-range-thumb {
    width: 4vw; /* Set a specific slider handle width */
    height: 4vw; 
    background: url("../assets/UI/skl2.png");
    background-repeat: no-repeat;
    background-size: 100%; 
    cursor: pointer; /* Cursor on hover */
    /*border:1px solid rgb(139, 0, 0);*/
}






/* trapToggle   */
.trapTogAssembly{
    margin-top: 8%;
    width: 80%;
    height: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    /*border:1px solid red;*/
}

.t1{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    /*border:1px solid red;*/
}

.t2{
    width: 40%;
    height: 62%;
    display: flex;
    justify-content: center;
    align-items: center; 
   /* border:1px solid red;*/   
}



.trapSwitch {
    position: relative;
    /*display: inline-block;*/
    width: 80%;
    height: 100%;
    /*border:1px solid red;*/
}
  
  /* Hide default HTML checkbox */
.trapSwitch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
  /* The slider */
  .trapSlider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;    
}
  
.trapSlider:before {
    position: absolute;
    content: "";
    height: 96%;
    width: 52%;
    left: 0;
    /*bottom: .15vw;*/
    /*background-color: white;*/

    background: url("../assets/UI/togBut.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 105%; /*66*/


    -webkit-transition: .4s;
    transition: .4s;
    /*border:1px solid red;*/
}
  
input:checked + .trapSlider {
    /*background-color: #2196F3;*/
    background-color: #ff0000;
}
  
/*
input:focus + .trapSlider {
    
    box-shadow: 0 0 1px #ff0000;
}*/
  
input:checked + .trapSlider:before {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
}
  
  /* Rounded sliders */
.trapSlider.round {
    border-radius: 34px;
    
}
  
.trapSlider.round:before {
    border-radius: 50%;
}
/* trapToggle */








.testButton{
    margin-top: 10%;
    padding: 0;
    border: none;
    width: 80%;
    height: 12%; 
}










/*   768px       */
/*@media only screen and (max-width: 532px) and (min-width: 376px) {*/
    /*
@media only screen and (max-width: 600px) and (min-width: 457px){
    .touchControls{         
        bottom: 3vh; 
        width: 220px;
        height: 165px;       
    }
    .forwardControls{         
        bottom: 3vh; 
        width: 220px;
        height: 165px;     
    }    
}*/

/*
@media only screen and (max-width: 457px) {

    .touchControls{       
        width: 180px;
        height: 135px;       
    }
    .forwardControls{       
        width: 180px;
        height: 135px;     
    }   
}*/


@media only screen and (max-width: 368px) {
    .ctrls{  
        /*bottom: 6vh; */
        min-width: 140px;
        min-height: 70px;       
    }

    /*
    .forwardControls{        
        min-width: 140px;
        min-height: 70px;     
    }  */ 
}




@media only screen and (orientation: landscape) {

    .menu__gear{       
        width: 5vw;
        /*min-width: 40px;*/
        height: 5vw; 
        /*min-height: 40px;*/       
        z-index: 1; 
    }

    .menu__assembly{        
        /*position: relative;*/    
        width: 50vw; /*14*/    
        height: 14vw;  /*25*/   
        /*top: -220px;*/
       /*background-color: lightcoral;*/           
    }

    .menu__main{        
        top: -20vw;       
    }
    
   
    .menu__button-box{   
        width: 31%; 
        /*max-width: 120px;*/    
        height: 41%;
        /*max-height: 36px;
        width: 200px;
        height: 72px;*/        
    }


    .--dispMenuFont{        
        font-size: 2.8vw;        
    }
    
    .--smallMenuFont{        
        font-size: 1.4vw;        
    } 
    
    
    .vSlider::-webkit-slider-thumb {       
        width: 3vw;        
        height: 3vw;       
    }
      
    .vSlider::-moz-range-thumb {
        width: 3vw; 
        height: 3vw;         
    }
}


  @media (max-aspect-ratio: 100/150) {

    .menu__gear{       
        width: 5vw;
        /*min-width: 40px;*/
        height: 5vw; 
        /*min-height: 40px;*/       
        z-index: 1; 
    }

    .menu__assembly{        
        /*position: relative;*/    
        width: 39.2vw; 
        height: 70vw;
        /*top: -220px;*/
      /* background-color: lightcoral;*/          
    }

    .menu__main{        
        top: calc(-80vw);            
    }



    .--dispMenuFont{        
        font-size: calc(7vw *.7);        
    }
    
    .--smallMenuFont{        
        /*font-size: 1.4vw;*/
        font-size: calc(4.375vw *.7);    
    } 
    
    
    .vSlider::-webkit-slider-thumb {       
        width: 5vw;        
        height: 5vw;       
    }
      
    .vSlider::-moz-range-thumb {
        width: 5vw; 
        height: 5vw;         
    }

}


















.noCallOut{
    -webkit-touch-callout: none; /* Safari Touch */
    -webkit-user-select: none;   /* Webkit */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Edge*/
    user-select: none;       /* Future-proof*/
}


/*
.body {
    -webkit-filter: invert(100%);
    -moz-filter: invert(100%);
    -o-filter: invert(100%);
    -ms-filter: invert(100%);
    filter: invert(100%);
}
            
.--inv-img {
    -webkit-filter: invert(100%) !important;
    -moz-filter: invert(100%) !important;
    -o-filter: invert(100%) !important;
    -ms-filter: invert(100%) !important;
}*/
