*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    overflow: hidden;
}

.webgl{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.touchControls{
    position: absolute;
    /*top: 62%;*/
    bottom: 3vh;  
    left: 5%;
    /*width: 20vw;
    height: 15vw;*/    
    
    width: 240px;
    height: 180px;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    /*background-color: brown;*/
}

.buttonBox{   
    position: relative;
    width: 32%;
    height: 100%;    
    /*display: inline-block;*/
    display: flex;
    flex-direction: column;
    align-items: center;
   /* background-color: blueviolet; */ 
}

.tButtonUp{
    position: relative;
    top: 5%;
    /*left: 36%;*/
    width: 95%;
    height: 41%;    
    /*background-color: cyan;*/
}


.tButtonDown{
    position: relative;
    top: 12%;
    /*left: 36%;*/
    /*width: 6vw;
    height: 6vw;*/
    width: 95%;
    height: 41%;
   /* background-color: blue;*/
}


.tButtonSide{
    position: relative;
    top: 36%;
    /*left: 50%;*/
    /*width: 6vw;
    height: 6vw;*/

    width: 95%;
    height: 41%;
    /*background-color: blue;*/
}



.keyHint{
    position: absolute;
    top: 88%;
    left: 11.5%;
    font-size: x-large;   
}


.cntButton{
    padding: 0;
    border: none;
    width: 100%;
    height: 100%;      
    background-repeat: no-repeat;
    background-size: 100%; 
}

.upImg{
    background: url("../assets/UI/upArrow.fw.png"); 
    background-repeat: no-repeat;
    background-size: 100%; 
}
.downImg{
    transform: rotate(180deg);
    background: url("../assets/UI/upArrow.fw.png");
    background-repeat: no-repeat;
    background-size: 100%; 
}
.leftImg{
    background: url("../assets/UI/lTButton.fw.png");
    background-repeat: no-repeat;
    background-size: 100%; 
}
.rightImg{
    background: url("../assets/UI/rTButton.fw.png");
    background-repeat: no-repeat;
    background-size: 100%; 
}




.forwardControls{
    position: absolute;
    /*top: 62%;*/ /* 56%  58.5% */  
    bottom: 3vh; 
    right: 5%;
    /*width: 20vw;
    height: 15vw;*/    
    
    width: 240px;
    height: 180px;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    /*background-color: darkred;*/
}

.resetButton{
    position: absolute;
    top: 1vw;
    left: 66vw;
    width: 50px;
    height: 30px;
}









/*   768px       */
/*@media only screen and (max-width: 532px) and (min-width: 376px) {*/
@media only screen and (max-width: 532px){
    .touchControls{         
        bottom: 3vh; 
        width: 180px;
        height: 135px;       
    }
    .forwardControls{         
        bottom: 3vh; 
        width: 180px;
        height: 135px;     
    }    
}
